torch==2.4.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
pydantic
fastapi
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
uvicorn
gunicorn
scikit-learn

Flask~=3.1.2
dotenv~=0.9.9
python-dotenv~=1.1.1